<app-header></app-header>

<div class="container -px-4 my-20 flex flex-col prose legal-content">
  <h1 class="text-center text-4xl"><strong>Terms of Use</strong></h1>
  <p><strong>Last Modified:</strong> <strong>March 29, 2022</strong></p>
  <p class="text-lg"><strong>INTRODUCTION</strong></p>
  <p>
    By using the www.salusconnect.ca website (the “<strong>Website</strong>”),
    you agree to follow and be bound by these Terms of Use and our Privacy
    Policy, which is incorporated herein by reference. In these Terms and
    Conditions, “<strong>LEAPFROG LABS</strong>”, “<strong>we</strong>”,
    “<strong>us</strong>”, and “<strong>our</strong>” refer to 13062694 Canada
    Inc. o/a LEAPFROG LABS, with offices at 22 William Stephenson Drive, Whitby,
    ON L1N 8K7.
  </p>
  <p>
    If you do not agree to these Terms of Use, you must not access or use the
    Website.
  </p>
  <p>
    We reserve the right in our sole discretion to revise and update these Terms
    of Use from time to time. Any and all such modifications are effective
    immediately upon posting and apply to all access to and continued use of the
    Website. You agree to periodically review these Terms of Use in order to be
    aware of any such modifications and your continued use shall be your
    acceptance of these.
  </p>
  <p>
    The information and material on this Website, and the Website, may be
    changed, withdrawn, or terminated at any time in our sole discretion without
    notice. We will not be liable if, for any reason, all or any part of the
    Website is restricted to users or unavailable at any time or for any period.
  </p>
  <h1 class="TOC-Heading" id="section"></h1>
  <p>
    <a href="terms-of-use#_Toc99960014"
      ><strong>1.</strong> <strong>PRIVACY POLICY</strong></a
    >
  </p>
  <p>
    <a href="terms-of-use#_Toc99960015"
      ><strong>2.</strong> <strong>OWNERSHIP OF WEBSITE</strong></a
    >
  </p>
  <p>
    <a href="terms-of-use#_Toc99960016"
      ><strong>3.</strong> <strong>THIRD-PARTY WEBSITES</strong></a
    >
  </p>
  <p>
    <a href="terms-of-use#_Toc99960017"
      ><strong>4.</strong> <strong>ACCOUNT REGISTRATION</strong></a
    >
  </p>
  <p>
    <a href="terms-of-use#_Toc99960018"
      ><strong>5.</strong> <strong>LIMITED LICENSE</strong></a
    >
  </p>
  <p>
    <a href="terms-of-use#_Toc99960019"
      ><strong>6.</strong> <strong>DISCLAIMER OF WARRANTIES</strong></a
    >
  </p>
  <p>
    <a href="terms-of-use#_Toc99960020"
      ><strong>7.</strong> <strong>INDEMNIFICATION</strong></a
    >
  </p>
  <p>
    <a href="terms-of-use#_Toc99960021"
      ><strong>8.</strong> <strong>LIMITATION OF LIABILITY</strong></a
    >
  </p>
  <p>
    <a href="terms-of-use#_Toc99960022"
      ><strong>9.</strong> <strong>GOVERNING LAW AND CHOICE OF FORUM</strong></a
    >
  </p>
  <p>
    <a href="terms-of-use#_Toc99960023"
      ><strong>10.</strong> <strong>SEVERABILITY</strong></a
    >
  </p>
  <p>
    <a href="terms-of-use#_Toc99960024"
      ><strong>11.</strong> <strong>ENTIRE AGREEMENT</strong></a
    >
  </p>

  <ol type="1">
    <li>
      <p>
        <span id="_Toc99960014" class="anchor"></span
        ><strong>PRIVACY POLICY</strong>
      </p>
    </li>
  </ol>
  <p>
    In connection with your use of the Website, you may be asked to provide
    personal information in a form, via email or via phone. This personal
    information will be protected pursuant to our Privacy Policy, which is
    incorporated herein by reference.
  </p>
  <ol start="2" type="1">
    <li>
      <p>
        <span id="_Toc99960015" class="anchor"></span
        ><strong>OWNERSHIP OF WEBSITE</strong>
      </p>
    </li>
  </ol>
  <p>
    The Website and all related content, features, and functionality, including
    but not limited to, any computer code, designs, documents, images,
    information, logos and user interfaces are owned by us, our affiliates or
    licensors, and are protected by intellectual property laws including without
    limitation, copyright, trademark, patent, trade secret, and any other
    proprietary rights.
  </p>
  <p>
    Except as otherwise expressly provided by us, none of the content, features
    or functionality of the Website may be copied, displayed, distributed,
    downloaded, posted, reproduced, republished, transmitted or uploaded in any
    way and nothing on this Website or communication with you shall confer any
    license under any of our intellectual property rights.
  </p>
  <ol start="3" type="1">
    <li>
      <p>
        <span id="_Toc99960016" class="anchor"></span
        ><strong>THIRD-PARTY WEBSITES</strong>
      </p>
    </li>
  </ol>
  <p>
    For your convenience, this Website may provide links or pointers to
    third-party sites. We make no representations about any other websites that
    may be accessed from this Website. If you choose to access any such sites,
    you do so at your own risk. We have no control over the contents of any such
    third-party sites and accept no responsibility for such sites or for any
    loss or damage that may arise from your use of them. You are subject to any
    terms and conditions of such third-party sites.
  </p>
  <ol start="4" type="1">
    <li>
      <p>
        <span id="_Toc99960017" class="anchor"></span
        ><strong>ACCOUNT REGISTRATION</strong>
      </p>
    </li>
  </ol>
  <p>
    To book an appointment through the Website or to subscribe to our paid
    services, you must register an account. When you register for an account,
    you may be required to provide us with some information about yourself, such
    as your name, email address, or other contact information. You agree that
    the information you provide to us is accurate and that you will keep it
    accurate and up-to-date at all times. When you register, you will be asked
    to provide a password. You are solely responsible for maintaining the
    confidentiality of your account and password, and you accept responsibility
    for all activities that occur under your account. If you upload a photo,
    picture or logo to the Website that is covered by intellectual property
    rights, you grant us a non-exclusive, transferable, sub-licensable,
    royalty-free, and worldwide license to distribute, reproduce and publicly
    display the photo, picture or logo on the Website and via email.
  </p>
  <ol start="5" type="1">
    <li>
      <p>
        <span id="_Toc99960018" class="anchor"></span
        ><strong>LIMITED LICENSE</strong>
      </p>
    </li>
  </ol>
  <p>
    Subject to your ongoing compliance with these Terms of Use, our Privacy
    Policy and our Terms of Service (if applicable), Leapfrog Labs grants you a
    non-exclusive, non-transferable, non-sublicensable, and revocable license to
    access and use the unpaid Services on our Website for non-commercial use,
    provided that you do not, or do not attempt to:
  </p>
  <ol type="a">
    <li>
      <p>reproduce any content made available on or through our Website;</p>
    </li>
    <li>
      <p>
        circumvent any feature on our Website, including any access control
        mechanism;
      </p>
    </li>
    <li>
      <p>
        reverse engineer, disassemble, decompile, decode, or otherwise attempt
        to derive or gain access to the source code of any part of our Services;
        or
      </p>
    </li>
    <li>
      <p>
        rent, lease, lend, sell, sublicense, time-share or provide subscription
        services for any part of our Services.
      </p>
    </li>
  </ol>
  <ol start="6" type="1">
    <li>
      <p>
        <span id="_Toc99960019" class="anchor"></span
        ><strong>DISCLAIMER OF WARRANTIES</strong>
      </p>
    </li>
  </ol>
  <p>
    The Website and all related content, features, and functionality provided
    through your use of the website or through communication with us are
    provided on an “as is” and “as available” basis. To the fullest extent
    permitted by law, we expressly disclaim all warranties and representations
    of any kind, whether express or implied.
  </p>
  <ol start="7" type="1">
    <li>
      <p>
        <span id="_Toc99960020" class="anchor"></span
        ><strong>INDEMNIFICATION</strong>
      </p>
    </li>
  </ol>
  <p>
    You will indemnify, defend and hold us, our affiliates and our respective
    directors, officers, employees, agents, contractors, licensors, successors,
    and assigns from and against any claims, liabilities, damages, judgments,
    awards, losses, costs, expenses, or fees (including legal fees and all
    related costs and expenses of litigation and settlement), arising out of or
    in connection with your breach of these Terms of Use, your use of the
    Website, or violation by you of any laws, statutes, rules or regulations.
  </p>
  <ol start="8" type="1">
    <li>
      <p>
        <span id="_Toc99960021" class="anchor"></span
        ><strong>LIMITATION OF LIABILITY</strong>
      </p>
    </li>
  </ol>
  <p>
    In no event will we be liable to you for any direct, indirect,
    consequential, incidental, special, punitive, or any other legal theory
    arising out of or in connection with these Terms of Use, your use or
    reliance on the website, or your inability to use the Website, whether
    caused by tort (including negligence), breach of contract, breach of
    privacy, or otherwise, even if you have been advised of the possibility of
    such damages.
  </p>
  <ol start="9" type="1">
    <li>
      <p>
        <span id="_Toc99960022" class="anchor"></span
        ><strong>GOVERNING LAW AND CHOICE OF FORUM</strong>
      </p>
    </li>
  </ol>
  <p>
    The Website and these Terms of Use will be governed by and construed in
    accordance with the laws of the Province of Ontario and the federal laws of
    Canada applicable therein, without giving effect to any conflict of law
    provision, principle, or rule.
  </p>
  <p>
    Any action or proceeding arising out of or relating to this Website and
    under these Terms of Use will be instituted in the courts of Ontario located
    in the Regional Municipality of Peel, and each party irrevocably submits to
    the exclusive jurisdiction of such courts in any such action or proceeding.
    You waive any and all objections to the exercise of jurisdiction over you by
    such courts and to the venue of such courts.
  </p>
  <p>
    <span id="_Toc99960023" class="anchor"></span
    ><strong>10. SEVERABILITY</strong>
  </p>
  <p>
    If any term or provision of these Terms of Use is invalid, illegal, or
    unenforceable in any jurisdiction, such invalidity, illegality, or
    unenforceability shall not affect any other term or provision of these Terms
    of Use or invalidate or render unenforceable such term or provision in any
    other jurisdiction.
  </p>
  <p>
    <span id="_Toc99960024" class="anchor"></span
    ><strong>11. ENTIRE AGREEMENT</strong>
  </p>
  <p>
    These Terms of Use, our Privacy Policy, and our Terms of Service (if
    applicable) make up the entire agreement between you and us regarding the
    Website and supersede any prior oral or written agreements or understandings
    that may exist between you and us.
  </p>
</div>
<app-footer></app-footer>
