<div class="md:flex container">
  <img src="../../assets/images/Rectangle 265.png" alt="" />
  <div class="bg-blue0 flex-grow rounded p-[50px]">
    <h1 class="md:text-5xl text-3xl font-semibold pb-4">
      SimplyDoc is built with Canadians in mind.
    </h1>
    <p class="pb-6 text-base">
      At every step of the way, SimplyDoc puts you first. No compromises.
    </p>
    <div>
      <p class="check">
        <i nz-icon nzType="check" nzTheme="outline" class="mr-2"></i> Your data
        and privacy is 100% secure.
      </p>
      <p class="check">
        <i nz-icon nzType="check" nzTheme="outline" class="mr-2"></i> All
        appointment bookings are FREE.
      </p>
      <p class="check">
        <i nz-icon nzType="check" nzTheme="outline" class="mr-2"></i> Book
        Dentists,
      </p>
    </div>
    <div class="md:block flex justify-center text-base">
      <button routerLink="/register">Create your account</button>
    </div>
  </div>
</div>
