<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <modules>
        <remove name="WebDAVModule" />
      </modules>
      <handlers>
        <remove name="WebDAV" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44343" />
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
          <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\6.0.100\DotnetTools\dotnet-watch\6.0.100-rtm.21527.8\tools\net6.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="ws://localhost:49757/SalusConnect.Api/" />
          <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA1zbPns9WI/zwnRXPFmbZZClNIdlndUKyQLVR0bk5dDdcsc+iby2OJdfBH9jQ1eaHAtMnczNqha2tmSDBXff8SqzFOJ04atRQGdEIt4Q0QY13eMUv8XJoQQrzXhITFZSCmgC3FrMYMn89j1rRUXIZ3klJP3ybp6xa0b3/npvkNYo2wRGRrOxkbpLdxQGE93xUWlutGn2HqiGmRGD7g9er5ajgj/tjJXFzL127hEBBlp4bpLyS8K+VTzjI/L9iQpikYQcOv2NIt5l0AkvVyw7SHge+FPGWqi8jlOP47ysobw16v93gXbiwctKwrwQUYUzSax07hFjd8cbgcfJE37oUjQIDAQAB" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 429ae49b-03b2-4931-9127-1d879e70d8e9-->