<app-header></app-header>

<div class="container -px-4 my-20 flex flex-col prose legal-content">
    <h1 class="text-center text-4xl" ><strong>Privacy Policy</strong></h1>
    <h2><strong>Last Modified:</strong> <strong>April 4, 2022</strong></h2>
    <h2><strong>INTRODUCTION</strong></h2>
    <p>13062694 Canada Inc. o/a LEAPFROG LABS (“<strong>LEAPFROG
    LABS</strong>”, “<strong>we</strong>”, or “<strong>us</strong>”)
    respects your privacy and are committed to protecting it by complying
    with this policy.</p>
    <p>This policy describes:</p>
    <ul>
    <li><p>How we collect, use, disclose, and protect the personal
    information of our subscribers and website users
    ("<strong>you</strong>").</p></li>
    <li><p>Describes the types of information we may collect from you or
    that you may provide when you visit the website www.simplydoc.ca (our
    "<strong>Website</strong>").</p></li>
    <li><p>Our practices for collecting, using, maintaining, protecting, and
    disclosing that information.</p></li>
    </ul>
    <p>This policy applies to information we collect, use, or disclose about
    you:</p>
    <ul>
    <li><p>On this Website.</p></li>
    <li><p>In email and other electronic messages between you and this
    Website.</p></li>
    </ul>
    <p>The Website may include links to third-party websites, plug-ins,
    services, social networks, or applications. Clicking on those links or
    enabling those connections may allow the third party to collect or share
    data about you. If you follow a link to a third-party website or engage
    a third-party plugin, please note that these third parties have their
    own privacy policies and we do not accept any responsibility or
    liability for these policies. We do not control these
    third-party websites, and we encourage you to read the privacy policy of
    every website you visit.</p>
    <p>Please read this policy carefully to understand our policies and
    practices for collecting, processing, and storing your information. If
    you do not agree with our policies and practices, your choice is not to
    use our Website. By accessing or using this Website, you indicate that
    you understand, accept, and consent to the practices described in this
    policy. This policy may change from time to time. Your continued use of
    this Website after we make changes indicates that you accept and consent
    to those changes, so please check the policy periodically for
    updates.</p>
    <h1 class="TOC-Heading" id="section"></h1>
    <p><a href="/privacy-policy#_Toc99959295"><strong>1.</strong> <strong>WHAT INFORMATION WE COLLECT</strong> </a></p>
    <p><a href="/privacy-policy#_Toc99959296"><strong>2.</strong> <strong>HOW WE COLLECT INFORMATION</strong> </a></p>
    <p><a href="/privacy-policy#_Toc99959297"><strong>3.</strong> <strong>HOW WE USE YOUR INFORMATION</strong> </a></p>
    <p><a href="/privacy-policy#_Toc99959298"><strong>4.</strong> <strong>DISCLOSURE OF YOUR INFORMATION</strong> </a></p>
    <p><a href="/privacy-policy#_Toc99959299"><strong>5.</strong> <strong>TRANSFERRING YOUR PERSONAL INFORMATION</strong> </a></p>
    <p><a href="/privacy-policy#_Toc99959300"><strong>6.</strong> <strong>HOW TO CONTROL YOUR INFORMATION</strong> </a></p>
    <p><a href="/privacy-policy#_Toc99959301"><strong>7.</strong> <strong>DATA SECURITY</strong> </a></p>
    <p><a href="/privacy-policy#_Toc99959302"><strong>8.</strong> <strong>DATA RETENTION</strong> </a></p>
    <p><a href="/privacy-policy#_Toc99959303"><strong>9.</strong> <strong>CHILDREN UNDER THE AGE OF 13</strong> </a></p>
    <p><a href="/privacy-policy#_Toc99959304"><strong>10.</strong> <strong>HOW TO ACCESS AND CORRECT YOUR INFORMATION</strong></a></p>
    <p><a href="/privacy-policy#_Toc99959305"><strong>11.</strong> <strong>WITHDRAWING YOUR CONSENT</strong></a></p>
    <p><a href="/privacy-policy#_Toc99959306"><strong>12.</strong> <strong>UPDATES TO OUR PRIVACY POLICY</strong></a></p>
    <p><a href="/privacy-policy#_Toc99959307"><strong>13.</strong> <strong>HOW TO CONTACT US</strong> </a></p>
    <p><span id="_Toc99959295" class="anchor"></span><strong>1. WHAT INFORMATION WE COLLECT</strong></p>
    <p>We may collect and use several types of information from and about you, including:</p>
    <ul>
    <li><p><strong>Personal information</strong>, that we can reasonably use
    to directly or indirectly identify you, such as your name, mailing
    address, e-mail address, telephone number, Internet protocol (IP)
    address used to connect your computer to the Internet, user name or
    other similar identifier, billing and account information and any other
    identifier we may use to contact you ("<strong>personal
    information</strong>").</p></li>
    <li><p><strong>Non-personal information</strong>, that does not directly
    or indirectly reveal your identity or directly relate to an identifiable
    individual. We may derive non-personal statistical or aggregated data
    from personal information.</p></li>
    <li><p><strong>Technical information</strong>, including your login
    information, browser type and version, time zone setting, browser
    plug-in types and versions, operating system and platform, or
    information about your internet connection, the equipment you use to
    access our Website, and usage details.</p></li>
    <li><p><strong>Non-personal details about your Website
    interactions</strong>, including the full Uniform Resource Locators
    (URLs), clickstream to, through and from our Website (including date and
    time), products you viewed or searched for, page response times,
    download errors, length of visits to certain pages, page interaction
    information (such as scrolling, clicks, and mouse-overs), methods used
    to browse away from the page, or any phone number used to call our
    customer service number.</p></li>
    </ul>
    <p>For subscribers and potential subscribers to our paid services, we
    may also collect and use the following types of information:</p>
    <ul>
    <li><p><strong>Payment Information.</strong> If you purchase our
    services, your payment-related information, such as your credit card
    details is collected by our third party payment processor, Stripe, on
    our behalf. As a courtesy, Stripe’s privacy policy may be found here: <a
    href="https://stripe.com/en-ca/privacy">https://stripe.com/en-ca/privacy</a>.
    We do not directly collect or retain your payment information.</p></li>
    <li><p><strong>Background check information,</strong> including your
    specialization and whether you have the professional or educational
    qualifications to be eligible as a subscriber to our paid services or a
    provider of medical or therapeutic services.</p></li>
    </ul>
    <p><span id="_Toc99959296" class="anchor"></span><strong>2. HOW WE
    COLLECT INFORMATION</strong></p>
    <p><strong>Information You Provide to Us</strong></p>
    <p>The information we collect directly from you on or through
    our Website may include:</p>
    <ul>
    <li><p>Information that you provide by creating an account with us, or
    filling in forms on our Website.</p></li>
    <li><p>Records and copies of your correspondence (including email
    addresses), if you contact us. We may also ask you for information when
    you report a problem with our Website or contact us for troubleshooting,
    feedback, etc.</p></li>
    </ul>
    <p><strong>Information We Collect from Third Parties</strong></p>
    <p>We may indirectly collect information from you via third parties or
    third party tools, such as:</p>
    <ul>
    <li><p>Third party social networking sites, like Google or Facebook. If
    you create or log into your account on our Website via Google or
    Facebook, we will have access to certain information from those
    parties.</p></li>
    </ul>
    <p><strong>Information We Collect Through Cookies and Other Automatic
    Data Collection Technologies</strong></p>
    <p>As you navigate through and interact with our Website, we may use
    cookies or other automatic data collection technologies to collect
    certain information about your equipment, browsing actions, and
    patterns, including:</p>
    <ul>
    <li><p>Details of your visits to our Website, including traffic data,
    location data, logs, and other communication data and the resources that
    you access and use on the Website.</p></li>
    <li><p>Information about your computer and internet connection,
    including your IP address, operating system, and browser type.</p></li>
    </ul>
    <p>We may maintain the information we collect automatically or associate
    it with personal information we collect in other ways. It helps us to
    improve our Website and to deliver a better and more personalized
    service, including by enabling us to:</p>
    <ul>
    <li><p>Estimate our audience size and usage patterns.</p></li>
    <li><p>Recognize you when you return to our Website.</p></li>
    </ul>
    <p>The technologies we use for this automatic data collection may
    include:</p>
    <ul>
    <li><p><strong>Cookies.</strong> “Cookies” are text files placed on your
    computer, to help the website, software, application or otherwise
    analyze how users use the same. We may also use cookies to store certain
    information. We may use cookies for other purposes, including: to
    authenticate your identity, to determine if you are logged onto the
    Website, for personalization, for security, for targeted advertising, or
    for analysis of the performance of the Website. We use cookies that are
    not specific to your account but unique enough to allow us to analyze
    general trends and use, and to customize your interaction with the
    Website. This information helps us to understand the use of the Website
    and to improve the Website.</p></li>
    <li><p><strong>Web Beacons. </strong>Pages of our Website may contain
    small electronic files known as web beacons (also referred to as clear
    gifs, pixel tags, and single-pixel gifs) that permit us, for example, to
    count users who have visited those pages or and for other related
    Website statistics (for example, recording the popularity of certain
    website content and verifying system and server integrity).</p></li>
    <li><p><strong>Third party tools</strong>, like Google Analytics,
    Mixpanel, Segment, Twilio and HotJar, which may collect information
    about your use of our website or services using cookies, web beacons, or
    other tracking technologies.</p></li>
    </ul>
    <p><span id="_Toc99959297" class="anchor"></span><strong>3. HOW WE USE
    YOUR INFORMATION</strong></p>
    <p>We use information that we collect about you or that you provide to
    us, including any personal information:</p>
    <ul>
    <li><p>To present our Website and its contents to you.</p></li>
    <li><p>To provide you with information or services that you request from
    us, including to facilitate the booking of an appointment.</p></li>
    <li><p>To fulfill the purposes for which you provided the information or
    that were described when it was collected, or any other purpose for
    which you provide it.</p></li>
    <li><p>To notify you about changes to our Website or services we offer
    or provide though it.</p></li>
    <li><p>To improve our Website, services, marketing, or customer
    relationships and experiences.</p></li>
    <li><p>In any other way we may describe when you provide the
    information.</p></li>
    <li><p>For any other purpose with your consent.</p></li>
    </ul>
    <p>For subscribers and potential subscribers to our paid services, we
    may also use information that we collect about you or that you provide
    to us:</p>
    <ul>
    <li><p>To carry out our obligations and enforce our rights arising from
    any contracts with you, including for billing and collection or to
    comply with legal requirements.</p></li>
    <li><p>To notify you about your subscription to our services, including
    payment and renewal deadlines and confirmations.</p></li>
    </ul>
    <p><span id="_Toc99959298" class="anchor"></span><strong>4. DISCLOSURE
    OF YOUR INFORMATION</strong></p>
    <p>We may disclose personal information that we collect or you provide
    as described in this privacy policy:</p>
    <ul>
    <li><p>To our subsidiaries and affiliates.</p></li>
    <li><p>In accordance with applicable law, to a buyer or other successor
    in the event of a merger, divestiture, restructuring, reorganization,
    dissolution, or other sale or transfer of some or all of LEAPFROG LABS's
    assets, whether as a going concern or as part of bankruptcy,
    liquidation, or similar proceeding, in which personal information held
    by LEAPFROG LABS about our customers and users is among the assets
    transferred.</p></li>
    <li><p>To fulfill the purpose for which you provide it.</p></li>
    <li><p>For any other purpose disclosed by us when you provide the
    information.</p></li>
    <li><p>With your consent.</p></li>
    </ul>
    <p>We may also disclose your personal information:</p>
    <ul>
    <li><p>To comply with any court order, law, or legal process, including
    to respond to any government or regulatory request, in accordance with
    applicable law.</p></li>
    <li><p>If we believe disclosure is necessary or appropriate to protect
    the rights, property, or safety of LEAPFROG LABS, our customers, or
    others.</p></li>
    </ul>
    <p><span id="_Toc99959299" class="anchor"></span><strong>5. TRANSFERRING
    YOUR PERSONAL INFORMATION</strong></p>
    <p>We may transfer personal information that we collect or that you
    provide as described in this policy to contractors, service providers,
    and other third parties we use to support our business (such as
    analytics and search engine providers that assist us
    with Website improvement and optimization) and who are contractually
    obligated to keep personal information confidential, use it only for the
    purposes for which we disclose it to them, and to process the personal
    information with the same standards set out in this policy.</p>
    <p>Some of your personal information may be transferred to one of our
    contractors or supporting third parties located in India, the
    Phillipines or the U.S. for processing. The data protection laws in
    India, the Phillipines and the U.S. may differ from those in Canada, and
    your personal information may be subject to access requests according to
    laws of the India, the Phillipines and the U.S.</p>
    <p><span id="_Toc99959300" class="anchor"></span><strong>6. HOW TO
    CONTROL YOUR INFORMATION</strong></p>
    <p><strong>Tracking Technologies and Advertising.</strong> You can set
    your browser to refuse all or some browser cookies, or to alert you when
    cookies are being sent. If you disable or refuse cookies, please note
    that some parts of this Website may not be accessible or may not
    function properly.</p>
    <p><span id="_Toc99959301" class="anchor"></span><strong>7. DATA
    SECURITY</strong></p>
    <p>We use physical, electronic, and administrative measures designed to
    secure your personal information from accidental loss and from
    unauthorized access, use, alteration, and disclosure. This includes the
    use of 256-bit encryption for any passwords you use to create your
    account with us. We store all personal information in Canada, with
    Amazon Cloud Services Secure Cloud (AWS), which supports numerous
    security standards and compliance certifications. However, we cannot
    guarantee the security of your personal information transmitted to
    our Website. Any transmission of personal information is at your own
    risk.</p>
    <p>In the event of a breach, we would notify you by email as soon as
    reasonably possible in the circumstances, provided that we have
    collected or you have provided us with your email address.</p>
    <p><span id="_Toc99959302" class="anchor"></span><strong>8. DATA
    RETENTION</strong></p>
    <p>Except as otherwise permitted or required by applicable law or
    regulation, we will only retain your personal information for as long as
    necessary to fulfill the purposes we collected it for, including for the
    purposes of satisfying any legal, accounting, or reporting
    requirements.</p>
    <p>If you have an account on our Website, upon your express request, we
    will immediately disable your account and retain any personal
    information only as long as necessary to satisfy any legal, accounting,
    or reporting requirements.</p>
    <p><span id="_Toc99959303" class="anchor"></span><strong>9. CHILDREN
    UNDER THE AGE OF 13</strong></p>
    <p>Our Website is not intended for children under 13 years of age. No
    one under age 13 may provide any information to or on the Website. We do
    not knowingly collect personal information from children under 13. If we
    learn we have collected or received personal information from a child
    under 13 without parental consent, we will disable the associated
    accounts with that information.</p>
    <p><span id="_Toc99959304" class="anchor"></span><strong>10. HOW TO
    ACCESS AND CORRECT YOUR INFORMATION</strong></p>
    <p>You may request access to or correction of your personal information
    in our custody or control by contacting us with our contact details
    provided below (See “HOW TO CONTACT US”). Your right to access and
    correct your personal information is subject to applicable legal
    restrictions. We may request information from you in order to verify
    your identity before providing access or making corrections.</p>
    <p><span id="_Toc99959305" class="anchor"></span><strong>11. WITHDRAWING
    YOUR CONSENT</strong></p>
    <p>Where you have provided your consent to the collection, use, and
    transfer of your personal information, you may have the legal right to
    withdraw your consent under certain circumstances. To withdraw your
    consent, if applicable, contact us with our contact details provided
    below (See “HOW TO CONTACT US”). Please note that if you withdraw your
    consent we may not be able to provide you with a particular service. We
    will explain the impact to you at the time to help you with your
    decision.</p>
    <p><span id="_Toc99959306" class="anchor"></span><strong>12. UPDATES TO
    OUR PRIVACY POLICY</strong></p>
    <p>This privacy policy is effective as of the Last Modified date written
    above. We may update or amend this privacy policy from time to time. The
    revised privacy policy will be posted on our Website.</p>
    <p>You are responsible for periodically visiting our Website and this
    privacy policy to check for any changes. However, if you provide us with
    your email address, we may notify you via email of any changes.</p>
    <p><span id="_Toc99959307" class="anchor"></span><strong>13. HOW TO
    CONTACT US</strong></p>
    <p>If you have any questions regarding this privacy policy, or to access
    your information, please contact us at <a href="mailto:business@simplydoc.ca">business@simplydoc.ca</a></p>
</div>
<app-footer></app-footer>