.search {
  @apply flex items-center justify-center px-2 rounded border border-medGray bg-white transition-all;
  &:focus-within {
    border: 1px solid #2ba3fa;
  }
  &::placeholder {
    color: #7e858d;
  }
  input,
  textarea {
    @apply w-full rounded py-2 text-sm;
    border: none;
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }
}
