<div
  class="main-layout flex flex-col space-y-6 lg:space-y-8 2xl:space-y-16 pb-10 container"
>
  <div class="lmdocs-header flex px-5 space-x-5 items-center">
    <div class="w-1/2 font-bold text-3xl 2xl:text-5xl text-center">
      SalusConnect for the
      <span class="text-blue2">medical community</span>
    </div>
    <div class="flex flex-col space-y-2 w-1/2 align-middle">
      <div
        class="font-light text-sm lg:text-base 2xl:text-xl whitespace-pre-line"
      >
        SalusConnect is thoughtfully engineered as much for Canada’s doctors and
        medical practioners as it is for all Canadians. For young or smaller
        practices, SalusConnect can instantly modernize your booking process
        while giving you potentially exponential reach and visibility. For
        larger and more established practices, SalusConnect can streamline your
        appointment management workflow across all providers and staff members
        in your practice.
      </div>
      <!-- <button
        class="hidden lg:block w-36 h-10 bg-black text-white rounded"
        routerLink="/request-to-join"
      >
        Request to Join
      </button> -->
    </div>
  </div>

  <div
    class="hidden lg:block whitespace-pre-line text-4xl font-bold text-center"
  >
    SalusConnect can do <span class="text-blue2">so many things</span> for you.
  </div>
  <div class="flex flex-col lg:flex-row space-y-4 lg:space-y-0 gap-10">
    <div class="explanation flex flex-col space-y-3 lg:w-2/3">
      <div
        class="title uppercase font-light text-center lg:text-left lg:text-xl"
      >
        Simplified calendar setting tools
      </div>
      <div class="text-2xl lg:text-4xl 2xl:text-5xl font-bold">
        One Window for it all
      </div>
      <div class="whitespace-pre-line text-sm lg:text-lg 2xl:text-xl">
        When we started work on SalusConnect back in February 2021, it quickly
        became apparent that we could do it either the easy way or the right
        way. The easy way would have allowed us to launch in Q3 2021 but would
        have required us to perform less research, spend less than needed time
        on product architecture and design and leave important features out
        which would be truly valuable to Canadians and the medical community.
      </div>
    </div>
    <div class="image flex justify-center">
      <img
        class="object-scale-down"
        src="../../../assets/images/learnmoredocs-window.png"
        alt="sample screenshot"
      />
    </div>
  </div>

  <div class="flex flex-col-reverse lg:flex-row space-y-4 lg:space-y-0 gap-10">
    <div class="image flex justify-center">
      <img
        class="object-scale-down"
        src="../../../assets/images/learnmoredocs-staff.png"
        alt="sample screenshot"
      />
    </div>
    <div class="explanation flex flex-col space-y-3 lg:w-2/3">
      <div
        class="title uppercase font-light text-center lg:text-left lg:text-xl"
      >
        Role based Access Management
      </div>
      <div class="text-2xl lg:text-4xl 2xl:text-5xl font-bold">
        Power to your staff
      </div>
      <div class="whitespace-pre-line text-sm lg:text-lg 2xl:text-xl">
        At SalusConnect we understand that support staff at your practice play a
        key role in the efficient running of daily operations. That’s why, apart
        from the providers themselves, staff can seamlessly enter and manage
        calendars on behalf of any provider at your practice. And when they are
        done managing one calendar, staff can immediately switch to another
        provider through the switch pane. Doctors on the other hand have full
        read and edit access to their own calendars.
      </div>
    </div>
  </div>
  <div class="flex flex-col lg:flex-row space-y-4 lg:space-y-0 gap-10">
    <div class="explanation flex flex-col space-y-3 lg:w-2/3">
      <div
        class="title uppercase font-light text-center lg:text-left lg:text-xl"
      >
        Auto Approvals on tap
      </div>
      <div class="text-2xl lg:text-4xl 2xl:text-5xl font-bold">
        Set it and forget it
      </div>
      <div class="whitespace-pre-line text-sm lg:text-lg 2xl:text-xl">
        Auto approvals or Instant Bookings are a people favorite and a proven
        way to enhance user experience. When enabled, patients are able to find
        and book available appointment slots on your calendar without you
        needing to approve them manually. And all this can be enabled or
        disabled with a simple selection. Think about after business hours.
        Magic.
      </div>
    </div>
    <div class="image flex justify-center">
      <img
        class="object-scale-down"
        src="../../../assets/images/learnmoredocs-autoapprovals.png"
        alt="sample screenshot"
      />
    </div>
  </div>
  <div class="flex flex-col-reverse lg:flex-row space-y-4 lg:space-y-0 gap-10">
    <div class="image flex justify-center">
      <img
        class="object-scale-down"
        src="../../../assets/images/learnmoredocs-gettingstarted.png"
        alt="sample screenshot"
      />
    </div>
    <div class="explanation flex flex-col space-y-3 lg:w-2/3">
      <div
        class="title uppercase font-light text-center lg:text-left lg:text-xl"
      >
        Zero starter costs
      </div>
      <div class="text-2xl lg:text-4xl 2xl:text-5xl font-bold">
        Get started in minutes
      </div>
      <div class="whitespace-pre-line text-sm lg:text-lg 2xl:text-xl">
        Your aspirations to grow your practice no longer need to be bound by
        technology limitations. Whether you accept appointments through your
        website’s native webform or you don’t have a web-based appointment
        booking mechanism at all, SalusConnect can get you going in no time and
        with minimal effort. The best part. SalusConnect is fully hosted in the
        cloud and only needs an active internet connection. Pick a device of
        your choice to utilize the full capabilities of the platform and get
        started.
      </div>
    </div>
  </div>

  <div class="flex flex-col space-y-3 text-center">
    <div class="font-bold text-2xl lg:text-4xl">Have a question?</div>
    <div class="text-sm lg:text-xl">
      Please send us an email at
      <span class="font-bold">onboard@salusconnect.ca</span>
    </div>
  </div>
</div>
