<div class="container" @fade>
  <div class="flex flex-col items-center">
    <h1 class="sm:text-xl text-lg font-semibold text-center">
      Reset account password
    </h1>
    <span class="sm:text-sm text-[10px] text-darkGray mt-2 text-center"
      >Enter a new password for {{ email }}</span
    >
  </div>
  <form class="form" [formGroup]="resetForm">
    <div
      class="input"
      [ngClass]="{
        error: password.isError
      }"
    >
      <input
        tabindex="5"
        [type]="hidePassword"
        placeholder="New Password"
        formControlName="password"
        (ngModelChange)="checkError(password)"
        (focusout)="checkError(password)"
      />
      <p
        *ngIf="hidePassword === 'text'"
        (click)="hideOrShowPassword('password')"
        class="hideShow"
      >
        <i
          nz-icon
          nzType="eye-invisible"
          class="text-base"
          nzTheme="outline"
        ></i>
      </p>
      <p
        *ngIf="hidePassword === 'password'"
        (click)="hideOrShowPassword('password')"
        class="hideShow"
      >
        <i nz-icon nzType="eye" class="text-base" nzTheme="outline"></i>
      </p>
      <i
        @animate
        class="mr-2 text-green-400"
        *ngIf="password.check"
        nz-icon
        nzType="check-circle"
        nzTheme="outline"
      ></i>
      <i
        @animate
        class="mr-2 text-red-400"
        *ngIf="password.isError"
        nz-icon
        nzType="exclamation-circle"
        nzTheme="outline"
      ></i>
    </div>
    <p @animate *ngIf="password.isError">{{ password.message }}</p>
    <div
      class="input"
      [ngClass]="{
        error: confirmPassword.isError
      }"
    >
      <input
        tabindex="6"
        [type]="hideConfirmPassword"
        placeholder="Confirm Password"
        formControlName="confirmPassword"
        (ngModelChange)="checkError(confirmPassword)"
        (focusout)="checkError(confirmPassword)"
      />
      <p
        *ngIf="hideConfirmPassword === 'text'"
        (click)="hideOrShowPassword('confirmPassword')"
        class="hideShow"
      >
        <i
          nz-icon
          nzType="eye-invisible"
          class="text-base"
          nzTheme="outline"
        ></i>
      </p>
      <p
        *ngIf="hideConfirmPassword === 'password'"
        (click)="hideOrShowPassword('confirmPassword')"
        class="hideShow"
      >
        <i nz-icon nzType="eye" class="text-base" nzTheme="outline"></i>
      </p>
      <i
        @animate
        class="mr-2 text-green-400"
        *ngIf="confirmPassword.check"
        nz-icon
        nzType="check-circle"
        nzTheme="outline"
      ></i>
      <i
        @animate
        class="mr-2 text-red-400"
        *ngIf="
          confirmPassword.isError ||
          resetForm.controls['confirmPassword']?.hasError('NoPasswordMatch') ||
          resetForm.controls['password']?.hasError('NoPasswordMatch')
        "
        nz-icon
        nzType="exclamation-circle"
        nzTheme="outline"
      ></i>
    </div>
    <p @animate *ngIf="confirmPassword.isError">
      {{ confirmPassword.message }}
    </p>
    <button
      (click)="reset()"
      [disabled]="resetForm.invalid"
      class="submit flex items-center justify-center"
    >
      Reset password
    </button>
  </form>
</div>
