<div class="bgImg pt-6">
  <div class="bgcontent">
    <div class="container md:flex justify-between">
      <div
        class="grid grid-cols-4 gap-x-5 md:gap-x-5 xl:gap-x-20 text-white text-base"
      >
        <!-- <div class="flex flex-col gap-y-2 md:gap-y-4">
          <span class="font-bold text-base md:text-lg">SalusConnect</span>
          <a routerLink="/about">About us</a>
          <a routerLink="/security">Security</a>
          <a routerLink="/privacy-policy">Privacy</a>
          <a routerLink="/terms-of-service">Terms of service</a>
          <a routerLink="/terms-of-use">Terms of use</a>
        </div>
        <div class="flex flex-col gap-y-2 md:gap-y-4">
          <span class="font-bold text-base md:text-lg">For Practices</span>
          <a routerLink="/learn-more">Learn more</a>
          <a routerLink="/pricing">Pricing</a>
          <span class="font-bold text-base md:text-lg">For Patients</span>
          <a routerLink="/patient-faq">FAQs</a>
        </div>
        <div class="flex flex-col gap-y-2 md:gap-y-4">
          <span class="font-bold text-base md:text-lg">Get In Touch</span>
          <a routerLink="/contact-us">Contact Us</a>
          <span class="font-bold text-base md:text-lg">Careers</span>
          <a routerLink="/careers">Join Us</a>
        </div>
        <div class="flex flex-col gap-y-2 md:gap-y-4">
          <span class="font-bold text-base md:text-lg">Social</span>
          <a href="https://twitter.com/gosalusconnect" target="_blank">Twitter</a>
          <a href="https://linkedin.com/company/gosalusconnect" target="_blank"
            >LinkedIN</a
          >
          <a href="https://facebook.com/gosalusconnect" target="_blank"
            >Facebook</a
          >
        </div> -->
      </div>
      <div class="md:mb-0 mb-4">
        <a routerLink="/">
          <img
            src="../../../assets/images/SalusConnect-Logo.png"
            alt="SalusConnect-Logo"
            class="h-20 cursor-pointer"
        /></a>
      </div>
    </div>
    <p class="text-center text-white py-5 font-light">
      Copyright © SalusConnect, 2022. All Rights Reserved.
    </p>
  </div>
</div>
