<div class="container" @fade>
  <div class="bg-white flex justify-center">
    <div>
      <div class="flex flex-col items-center">
        <h1 class="sm:text-xl text-lg font-semibold text-center">
          Forgot Password
        </h1>
        <span class="sm:text-sm text-[10px] text-darkGray mt-2 text-center"
          >Enter your email and we'll send you a link to reset your
          password</span
        >
      </div>
      <div class="form">
        <div class="input">
          <input
            type="text"
            tabindex="4"
            placeholder="Email Address"
            [formControl]="emailAddress"
          />
        </div>
        <button
          #button
          (click)="sendMail()"
          class="submit flex items-center justify-center !mb-2"
          [disabled]="emailAddress.invalid || !emailAddress.value || loading"
        >
          <i
            [ngStyle]="
              button.disabled ? { color: 'black' } : { color: 'white' }
            "
            nz-icon
            [nzType]="'loading'"
            nzTheme="outline"
            class="mr-2 text-sm leading-[0px"
            *ngIf="loading"
          ></i>
          Send mail
        </button>
        <p class="!text-[11px] !text-darkGray mt-0">
          Check your inbox or spam folder
        </p>
      </div>
    </div>
  </div>
</div>
