<div
  class="main-layout flex flex-col space-y-6 2xl:space-y-8 pb-5 bg-gradient-to-t from-white via-blue-100 to-white"
>
  <div class="bg-gradient-to-t from-blue-100">
    <div class="careers-header flex px-5 space-x-5 items-center h-40 container">
      <div class="w-1/2 font-bold text-4xl lg:text-5xl text-blue2 text-center">
        Careers
      </div>
      <div class="w-1/2 font-light text-xs lg:text-base whitespace-pre-line">
        We take this word very seriously. And that's why this section is called
        Careers and not Jobs.
      </div>
    </div>
  </div>
  <div class="container">
    <div class="careers-items flex flex-col space-y-8">
      <div
        class="flex flex-col lg:flex-row lg:space-x-4 lg:items-center lg:justify-between"
      >
        <div class="flex flex-col text-sm space-y-5 lg:w-1/2">
          <div class="text-2xl font-bold 2xl:text-5xl">
            We believe there are no shortcuts
          </div>
          <div class="leading-5 lg:text-lg">
            When we started work on SimplyDoc, it quickly became apparent that
            we could do it either the easy way or the right way. The easy way
            would have allowed us to launch in sooner but would have required us
            to perform less research, spend less than needed time on product
            architecture and design and leave important features out which would
            be truly valuable to Canadians and the medical community. Any
            guesses which path we chose?
          </div>
        </div>
        <div class="hidden lg:flex lg:w-1/2 lg:justify-center">
          <img
            class="object-center rounded-lg flex-grow-0"
            src="../../../assets/images/careers-possibilities.jpg"
            alt="details"
          />
        </div>
      </div>
      <div
        class="flex flex-col lg:flex-row lg:space-x-4 lg:items-center lg:justify-between"
      >
        <div class="hidden lg:flex lg:w-1/2 lg:justify-center">
          <img
            class="object-center rounded-lg scale-75 flex-grow-0"
            src="../../../assets/images/careers-canada.jpg"
            alt="details"
          />
        </div>
        <div class="flex flex-col text-sm space-y-5 lg:w-1/2">
          <div class="text-2xl font-bold 2xl:text-5xl">
            And values are non-negotiable
          </div>
          <div class="leading-5 lg:text-lg">
            No matter what we do and where we go, we are driven by a set of core
            values that drive our actions and decisions.
          </div>
          <div class="py-2 font-bold lg:text-lg">
            Integrity. Commitment. Passion. Hardwork.
          </div>
          <div class="leading-5 lg:text-lg">
            These are the values that we live by every day. This is what defines
            us. Today we are a startup. Tomorrow we will be a large company
            [:)]. We will do everything to ensure that these values don’t get
            diluted over time.
          </div>
        </div>
      </div>

      <div
        class="flex flex-col lg:flex-row lg:space-x-4 lg:items-center lg:justify-between"
      >
        <div class="flex flex-col text-sm space-y-5 lg:w-1/2">
          <div class="text-2xl font-bold 2xl:text-5xl">
            Consider a career with us
          </div>
          <div class="leading-5 lg:text-lg">
            Scaling a startup takes grit, determination and a unique kind of
            never-say-die attitude. If you are looking to get involved in
            helping build a transformational platform that can potentially
            impact the lives of millions of Canadians every day, we’d love to
            chat.
          </div>
        </div>
        <div class="hidden lg:flex lg:w-1/2 lg:justify-center">
          <img
            class="object-center rounded-lg scale-75 flex-grow-0"
            src="../../../assets/images/careers-toronto.jpg"
            alt="details"
          />
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-y-10 text-sm pb-4">
      <div class="text-lg font-bold">
        We have openings in product, technology, marketing and sales. All
        positions are remote but we’d love it if you are in the Greater Toronto
        Area. That way we can hang out once in a while.
        <div class="font-normal text-sm mt-2">
          Send us an email with your resume at
          <span class="font-bold">business@simplydoc.ca</span> We look forward
          to speaking with you.
        </div>
      </div>
      <div class="lg:text-lg italic">
        SimplyDoc an equal opportunity employer. All applicants will be
        considered for employment without attention to race, color, religion,
        sex, sexual orientation, gender identity, national origin, veteran or
        disability status.
      </div>
    </div>
  </div>
</div>
