<div class="join-layout space-y-8 lg:space-y-10 2xl:space-y-16">
  <div class="bg-gradient-to-t from-blue-100">
    <div class="join-intro flex flex-row items-center space-x-8 py-4 container">
      <div class="font-bold text-2xl lg:text-5xl 2xl:text-7xl">
        Request <span class="text-blue-500">to join</span>
      </div>
      <div class="whitespace-pre-line font-light text-sm lg:text-xl">
        To protect the patient community, we require medical practitioners,
        clinics and institutions to undergo a simple verification process before
        they can get listed on SalusConnect and start using the platform. Please
        note SalusConnect is only available to Canadian-licensed medical
        professionals.
      </div>
    </div>
  </div>

  <div class="join-form space-y-6 w-96 mx-auto">
    <div class="flex flex-col text-center items-center">
      <div class="font-bold text-base lg:text-xl">
        Join the SalusConnect Medical Community
      </div>
      <div class="text-sm lg:text-base 2xl:text-2xl">
        Share a few details and we will get you going.
      </div>
    </div>
    <div class="flex flex-col space-y-5 px-8">
      <div class="flex flex-col items-center space-y-3">
        <input
          class="border rounded w-full border-gray-400 py-2 placeholder:text-xs placeholder:indent-2"
          type="text"
          size="30"
          id="firstName"
          placeholder="First Name"
        />
        <input
          class="border rounded w-full border-gray-400 py-2 placeholder:text-xs placeholder:indent-2"
          type="text"
          size="30"
          id="lastName"
          placeholder="Last Name"
        />
        <input
          class="border rounded w-full border-gray-400 py-2 placeholder:text-xs placeholder:indent-2"
          type="text"
          size="30"
          id="phNumber"
          placeholder="Phone number"
        />
        <input
          class="border rounded w-full border-gray-400 py-2 placeholder:text-xs placeholder:indent-2"
          type="text"
          size="30"
          id="email"
          placeholder="Email"
        />
        <input
          class="border rounded w-full border-gray-400 py-2 placeholder:text-xs placeholder:indent-2"
          type="text"
          size="30"
          id="practiceName"
          placeholder="PracticeName"
        />
        <input
          class="border rounded w-full border-gray-400 py-2 placeholder:text-xs placeholder:indent-2"
          type="text"
          size="30"
          id="practiceType"
          placeholder="Practice Type"
        />
        <input
          class="border rounded w-full border-gray-400 py-2 placeholder:text-xs placeholder:indent-2"
          type="text"
          size="30"
          id="location"
          placeholder="Town/City"
        />
        <input
          class="border rounded w-full border-gray-400 py-2 placeholder:text-xs placeholder:indent-2"
          type="text"
          size="30"
          id="province"
          placeholder="Province"
        />
        <input
          class="border rounded w-full border-gray-400 py-2 placeholder:text-xs placeholder:indent-2"
          type="text"
          size="30"
          id="activePractitioners"
          placeholder="Number of active practitioners"
        />
        <input
          class="border rounded w-full border-gray-400 py-2 placeholder:text-xs placeholder:indent-2"
          type="text"
          size="30"
          id="activeStaffMembers"
          placeholder="Number of active staff members"
        />
        <input
          class="border rounded w-full border-gray-400 py-2 placeholder:text-xs placeholder:indent-2"
          type="text"
          size="30"
          id="useAppointmentSystem"
          placeholder=" Do you currently use an appointment system?"
        />
        <input
          class="border rounded w-full border-gray-400 py-2 placeholder:text-xs placeholder:indent-2"
          type="text"
          size="30"
          id="preferredTime"
          placeholder="Preferred time to speak on phone"
        />
        <input
          class="border rounded w-full border-gray-400 py-2 placeholder:text-xs placeholder:indent-2"
          type="text"
          size="30"
          id="isDecisionMaker"
          placeholder="Are you the decision maker"
        />
      </div>
      <div class="flex flex-col space-y-4">
        <div class="flex flex-row items-center justify-start space-x-3">
          <input type="checkbox" />
          <div>
            I confirm that all information entered is accurate to the best of my
            knowledge.
          </div>
        </div>
        <div class="flex flex-row items-center justify-center space-x-3">
          <input type="checkbox" />
          <div>
            I consent to be contacted by SalusConnect by phone and/or email.
          </div>
        </div>
      </div>
      <div class="flex flex-col items-center">
        <button class="bg-black text-white w-40 h-14 rounded-lg">
          Submit Request
        </button>
      </div>
    </div>
  </div>
  <div
    class="flex flex-col lg:flex-row space-y-5 lg:space-y-0 lg:items-center lg:space-x-8 container"
  >
    <div class="font-bold text-4xl 2xl:text-7xl">what to expect next</div>
    <div class="flex flex-col space-y-4">
      <div class="flex flex-col space-y-4">
        <div class="font-bold text-lg lg:text-2xl 2xl:text-3xl">
          1. We will get in touch with you
        </div>
        <div class="whitespace-pre-line text-sm lg:text-lg 2xl:text-xl">
          Our onboarding specialist will get in touch with you within 1-2
          business days between 9am and 5pm EST at your preferred time window.
          Please expect the call to last approximately 15-20 minutes. Amongst
          other things, our onboarding specialist will discuss the subsciption
          plan best suited to your practice’s needs. Don’t forget to consider
          the annual plans that offer up to 15% off compared to subscriptions
          billed monthly.
        </div>
      </div>

      <div class="flex flex-col space-y-4">
        <div class="font-bold text-lg lg:text-2xl 2xl:text-3xl">
          2. Get set up
        </div>
        <div class="whitespace-pre-line text-sm lg:text-lg 2xl:text-xl">
          Once verified, each member of your practice who is joining
          SalusConnect (including staff) must activate their account through the
          unique link they receive on their email and set a new password.
        </div>
      </div>

      <div class="flex flex-col space-y-4">
        <div class="font-bold text-lg lg:text-2xl 2xl:text-3xl">
          3. The world is your oyester
        </div>
        <div class="whitespace-pre-line text-sm lg:text-lg 2xl:text-xl">
          That’s it! Start using the platform. We have built SalusConnect with
          tender loving care. We’re confident that you will find it incredibly
          useful and productive.
        </div>
      </div>
    </div>
  </div>
  <div class="space-y-5 text-center">
    <div class="text-2xl lg:text-4xl">Have a question?</div>
    <div class="text-sm lg:text-xl">
      Please send us an email at
      <span class="font-bold">onboard@salusconnect.ca</span>
    </div>
  </div>
</div>
