<div *ngIf="loading" class="absolute top-1/2 left-1/2">
  <i nz-icon nzType="loading" nzTheme="outline" class="text-blue2 text-6xl"></i>
</div>
<div class="w-full flex justify-center">
  <div
    class="max-w-max grid grid-flow-row auto-rows-max"
    *ngIf="!loading && dashboard"
  >
    <div class="flex justify-between items-center mb-4">
      <nz-range-picker
        [(ngModel)]="dateRange"
        nzAllowClear
        (ngModelChange)="loadData()"
      ></nz-range-picker>
      <button
        (click)="isOpen = !isOpen"
        class="btn btn-outline blue"
        [class]="
          treatmentId !== -1 ? '!bg-blue0 !text-black hover:!text-black' : ''
        "
        cdkOverlayOrigin
        #trigger="cdkOverlayOrigin"
      >
        <i nz-icon nzType="filter" nzTheme="outline"></i>
        Filter Appointments by Treatment Type
      </button>
    </div>
    <div class="flex justify-between">
      <div class="max-w-max bg-offWhite p-3 rounded shadow">
        <h1 class="text-sm font-medium">Patient Type</h1>
        <div class="flex items-center gap-5">
          <div
            class="border border-lightGray rounded bg-white p-2 flex justify-center items-center gap-5"
          >
            <div class="circle">
              <div class="green">
                <span>{{
                  dashboard.patient.newPatients +
                    dashboard.patient.returningPatients
                }}</span>
              </div>
              <span>Total</span>
            </div>
          </div>
          <div
            class="border border-lightGray rounded bg-white p-2 flex justify-center items-center gap-5"
          >
            <div class="circle">
              <div class="green">
                <span>{{ dashboard.patient.newPatients }}</span>
              </div>
              <span>New</span>
            </div>
            <div class="circle">
              <div class="green">
                <span>{{ dashboard.patient.returningPatients }}</span>
              </div>
              <span>Returning</span>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="max-w-max bg-offWhite p-3 rounded shadow">
        <h1 class="text-sm font-medium">Search Appearance</h1>
        <div
          class="border border-lightGray rounded bg-white p-2 flex justify-center items-center gap-5"
        >
          <div class="circle">
            <div class="blue">
              <span>-</span>
            </div>
            <span>Times</span>
          </div>
        </div>
      </div> -->
    </div>
    <div class="max-w-max bg-offWhite p-3 rounded shadow mt-5">
      <h1 class="text-sm font-medium">Appointments</h1>
      <div class="flex justify-center items-center gap-5">
        <div
          class="border border-lightGray rounded bg-white p-2 flex justify-center items-center gap-5"
        >
          <div class="circle">
            <div class="green">
              <span>{{ dashboard.appointment.acceptedCount }}</span>
            </div>
            <span>Accepted</span>
          </div>
          <div class="circle">
            <div class="green">
              <span>{{ dashboard.appointment.completedCount }}</span>
            </div>
            <span>Completed</span>
          </div>
          <div class="circle">
            <div class="green">
              <span>{{ dashboard.appointment.followupCount }}</span>
            </div>
            <span>Followup</span>
          </div>
        </div>
        <div
          class="border border-lightGray rounded bg-white p-2 flex justify-center items-center gap-5"
        >
          <div class="circle">
            <div class="yellow">
              <span>{{ dashboard.appointment.rescheduledCount }}</span>
            </div>
            <span>Reschedule</span>
          </div>
        </div>
        <div
          class="border border-lightGray rounded bg-white p-2 flex justify-center items-center gap-5"
        >
          <div class="circle">
            <div class="red">
              <span>{{ dashboard.appointment.noShowCount }}</span>
            </div>
            <span>No Show</span>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full grid grid-flow-col mt-5">
      <div
        class="max-w-max flex flex-col justify-center bg-offWhite p-3 rounded shadow"
      >
        <h1 class="text-sm font-medium">Cancellations</h1>
        <div
          class="border border-lightGray rounded bg-white p-2 flex justify-center items-center gap-5"
        >
          <div class="circle">
            <div class="red">
              <span>{{ dashboard.cancel.cancelledByDoctorCount }}</span>
            </div>
            <span>By You</span>
          </div>
          <div class="circle">
            <div class="red">
              <span>{{ dashboard.cancel.cancelledByPatientCount }}</span>
            </div>
            <span>By Patient</span>
          </div>
        </div>
      </div>
      <div class="max-w-max bg-offWhite p-3 rounded shadow justify-self-end">
        <h1 class="text-sm font-medium">Booking Efficiency</h1>
        <span class="text-xs"
          >Time between request received and an action taken</span
        >
        <div
          class="border border-lightGray rounded bg-white p-2 flex justify-center items-center gap-5"
        >
          <div class="circle">
            <div class="blue">
              <span>{{
                bookingEfficiency[0] ? bookingEfficiency[0] : "-"
              }}</span>
            </div>
            <span>Minutes</span>
          </div>
          <div class="circle">
            <div class="blue">
              <span>{{
                bookingEfficiency[1] ? bookingEfficiency[1] : "-"
              }}</span>
            </div>
            <span>Seconds</span>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="max-w-max bg-offWhite p-3 rounded shadow mt-5">
      <h1 class="text-sm font-medium">Utilization</h1>
      <div class="flex justify-center items-center gap-5">
        <div
          class="border border-lightGray rounded bg-white p-2 flex justify-center items-center gap-5"
        >
          <div class="circle">
            <div class="yellow">
              <span>-</span>
            </div>
            <span>Minutes Made Available</span>
          </div>
        </div>
        <div
          class="border border-lightGray rounded bg-white p-2 flex justify-center items-center gap-5"
        >
          <div class="circle">
            <div class="green">
              <span>-</span>
            </div>
            <span>Minutes Used</span>
          </div>
          <div class="circle">
            <div class="red">
              <span>-</span>
            </div>
            <span>Minutes Unused</span>
          </div>
        </div>
      </div>
    </div> -->

    <!-- <div
        class="max-w-max bg-offWhite p-3 rounded shadow mt-5"
        *ngFor="let construct of construct"
      >
        <h1 class="text-sm font-medium">{{ construct.heading }}</h1>
        <div class="flex justify-center items-center gap-5">
          <div
            *ngFor="let data of construct.data"
            class="border border-lightGray rounded bg-white p-2 flex justify-center items-center gap-5"
          >
            <div class="circle" *ngFor="let d of data">
              <div class="green">
                <span>{{ d.count }}</span>
              </div>
              <span>{{ d.heading }}</span>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <ng-template
      cdkConnectedOverlay
      [cdkConnectedOverlayOrigin]="trigger"
      [cdkConnectedOverlayOpen]="isOpen"
      (overlayOutsideClick)="isOpen = false"
    >
      <div
        class="bg-white p-4 rounded border-1 border-medGray mt-2 min-w-[300px] shadow-md"
      >
        <div class="flex items-center justify-between">
          <h3 class="text-sm font-medium">Filters</h3>
          <i
            nz-icon
            nzType="close"
            (click)="isOpen = false"
            class="cursor-pointer"
          ></i>
        </div>
        <nz-divider></nz-divider>
        <div class="flex flex-col">
          <nz-radio-group
            class="flex flex-col text-base"
            [(ngModel)]="treatmentId"
            (ngModelChange)="isOpen = !isOpen"
          >
            <label nz-radio [nzValue]="-1">All</label>
            <label
              *ngFor="let t of treatments"
              nz-radio
              [nzValue]="t.treatmentId"
              >{{ t.nickname }}</label
            >
          </nz-radio-group>
        </div>
      </div>
    </ng-template>
    <div class="flex justify-between items-center gap-10 mt-3">
      <h1 class="text-5xl font-bold">
        tell us what <br />
        insights <br />
        matter to <br />
        you most
      </h1>
      <p class="text-xl">
        We are constantly looking to <br />
        add insights that will help you<br />
        run and manage your<br />
        business better. If you have<br />
        something in mind, please <br />share it with us at <br />
        <span class="underline">makeitbetter@simplydoc.ca</span>
      </p>
    </div>
  </div>
</div>
