<app-header></app-header>

<div class="container -px-4 my-20 flex flex-col prose legal-content">
  <h1 class="text-center text-4xl"><strong>Terms of Service</strong></h1>
  <p>Last updated: April 4, 2022</p>
  <p>
    In these Terms of Service, “<strong>we</strong>”, “<strong>us</strong>” and
    “<strong>our</strong>” refer to 13062694 Canada Inc. o/a LEAPFROG LABS
    (“<strong>Leapfrog Labs</strong>”), a company incorporated under the laws of
    Canada with a registered office at 22 William Stephenson Drive, Whitby, ON
    L1N 8K7. Further, “<strong>Services</strong>” refers to any services
    provided by us, and “<strong>you</strong>” and “<strong>your</strong>” means
    the person or entity who uses, accesses or purchases any Services.
  </p>
  <p>
    If you find these Terms of Service unacceptable or if you do not agree to
    these Terms of Service, please do not use, access or purchase our Services.
    We may revise these Terms of Service at any time by providing written notice
    to you or by publishing the revised Terms of Service on our website
    (www.salusconnect.ca). By continuing to use, access, purchase or renew our
    Services after we have provided written notice to you, you are indicating
    that you agree to be bound by the revised Terms of Service.
  </p>
  <p>
    By using, accessing, purchasing or renewing our Services, you confirm that
    you are of the AGE OF MAJORITY in the place where you live, and you
    acknowledge that you have read these Terms of Service and agree to be bound
    by them.
  </p>
  <p>
    Please also refer to our Privacy Policy and Terms of Use, each of which is
    incorporated herein by reference.
  </p>
  <ol type="1">
    <li>
      <p>
        <strong>Accuracy of Information Provided to Us.</strong> You represent
        and warrant that, to the best of your knowledge, you have provided
        accurate information to us required for your use, access, purchase or
        renewal of any of our Services, and that you will keep it accurate and
        up-to-date at all times.
      </p>
    </li>
    <li>
      <p>
        <strong>Authority to Bind</strong>. If you are a clinic, company,
        entity, hospital or organization, the individual accepting these Terms
        of Service on your behalf represents and warrants that they have the
        authority to bind you to these Terms of Service.
      </p>
    </li>
    <li>
      <p>
        <strong>Payment Terms</strong>. All orders and renewals of our Services
        under these Terms of Service are subject to Leapfrog Labs’ sole
        discretion and approval. All fees are payable in Canadian Dollars and
        are non-refundable, but you will have an opportunity to review the fees
        that you will be charged. Any applicable taxes will be calculated and
        charged based on the province you are operating in. We may change the
        fees for our Services that may be listed on our website, and we will
        provide you advance notice of any changes if and before they apply to
        you. At our sole discretion, we may make promotional offers with
        different features and different pricing to any of our customers.
      </p>
    </li>
    <li>
      <p>
        <strong>Renewal Price</strong>. Renewal of our Services will be at our
        applicable list price at the time of the applicable renewal. Any changes
        to the Services being ordered upon renewal may result in re-pricing at
        renewal.
      </p>
    </li>
    <li>
      <p>
        <strong>Payment Options.</strong> Subject to the availability of payment
        options on our website, you may choose to either: (a) pre-authorize
        Leapfrog Labs to charge your credit card; or (b) pay each charge or
        invoice through our website as they become due. In the event that you
        choose to pre-authorize Leapfrog Labs to charge your credit card, the
        due date to pay any charge or invoice we issue to you is the date of
        issuance of the charge or invoice. In the event that you choose to pay
        each charge or invoice through our website as they become due, the due
        date to pay any charge or invoice we issue to you is the fourteen (14)
        calendar days after the date of issuance of the charge or invoice.
      </p>
    </li>
    <li>
      <p>
        <strong>Payment Processing.</strong> We use Stripe to process payments
        for our Services. Such payment processing services are provided by
        Stripe and are subject to the
        <a href="https://stripe.com/en-ca/ssa">Stripe Services Agreement</a>.
      </p>
    </li>
    <li>
      <p>
        <strong>Late Payments.</strong> In the event Leapfrog Labs does not
        receive payments due under this Agreement by the due date, you shall pay
        to Leapfrog Labs interest on the overdue payment from the date such
        payment was due to the date of actual payment at a rate of five percent
        (5%) per annum, or if lower, the maximum amount permitted under the law
        governing this Agreement.
      </p>
    </li>
    <li>
      <p>
        <strong>Unpaid Accounts.</strong> At its sole discretion, Leapfrog Labs
        may suspend or terminate access to our Services for any account for
        which any charge or invoice is due, but unpaid.
      </p>
    </li>
    <li>
      <p>
        <strong>Limited License.</strong> Subject to your ongoing compliance
        with these Terms of Service, our Privacy Policy and our Terms of Use,
        Leapfrog Labs grants you a non-exclusive, non-transferable,
        non-sublicensable, and revocable license to access and use the paid
        Services on our Website for your internal business purposes, provided
        that:
      </p>
      <ol type="a">
        <li>
          <blockquote>
            <p>
              reproduce any content made available on or through our Website;
            </p>
          </blockquote>
        </li>
        <li>
          <blockquote>
            <p>
              circumvent any feature on our Website, including any access
              control mechanism;
            </p>
          </blockquote>
        </li>
        <li>
          <blockquote>
            <p>
              reverse engineer, disassemble, decompile, decode, or otherwise
              attempt to derive or gain access to the source code of any part of
              our Services; or
            </p>
          </blockquote>
        </li>
        <li>
          <blockquote>
            <p>
              rent, lease, lend, sell, sublicense, time-share or provide
              subscription services for any part of our Services.
            </p>
          </blockquote>
        </li>
      </ol>
    </li>
    <li>
      <p>
        <strong>Disclaimer of Warranty.</strong> Our Services are provided on an
        “as is” and “as available” basis. To the fullest extent permitted by
        law, we expressly disclaim all warranties and representations of any
        kind, whether express or implied.
      </p>
    </li>
    <li>
      <p>
        <strong>Indemnification.</strong> You will indemnify, defend and hold
        us, our affiliates and our respective directors, officers, employees,
        agents, contractors, licensors, successors, and assigns from and against
        any claims, liabilities, damages, judgments, awards, losses, costs,
        expenses, or fees (including legal fees and all related costs and
        expenses of litigation and settlement), arising out of or in connection
        with your, or any of your employees’, subcontractors’ or
        representatives’ breach of these Terms of Service, misconduct,
        negligence, intentional acts, omissions or violation by you of any laws,
        statutes, rules or regulations, which for clarity, include any actual or
        alleged medical malpractice.
      </p>
    </li>
    <li>
      <p>
        <strong>Limitation of Liability.</strong> TO THE FULLEST EXTENT
        PERMITTED BY APPLICABLE LAW LEAPFROG LABS WILL NOT BE LIABLE TO YOU FOR
        ANY CONSEQUENTIAL, INCIDENTAL, INDIRECT, EXEMPLARY, SPECIAL, PUNITIVE,
        OR AGGRAVATED DAMAGES, OR FOR ANY LOSS OF ACTUAL OR ANTICIPATED PROFITS
        (REGARDLESS OF HOW THESE ARE CLASSIFIED AS DAMAGES), WHETHER ARISING OUT
        OF BREACH OF CONTRACT, TORT (INCLUDING NEGLIGENCE), OR OTHERWISE
        (INCLUDING THE ENTRY INTO, PERFORMANCE, OR BREACH OF THIS AGREEMENT),
        REGARDLESS OF WHETHER SUCH DAMAGE WAS FORESEEABLE AND WHETHER EITHER
        PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
      </p>
    </li>
    <li>
      <p>
        <strong>Liability Cap.</strong> Leapfrog Lab’s maximum aggregate
        liability to you as a result of any claims arising out of or in
        connection with these Terms of Service shall in no event exceed the
        total amount paid by you to us for the Services giving rise to the
        liability in the three (3) months immediately prior to the date on which
        the first event giving rise to the liability occurred.
      </p>
    </li>
    <li>
      <p>
        <strong>Availability and Modification of Services.</strong> We reserve
        the right to add, remove, modify, discontinue or otherwise change our
        Services at any time and without prior notice to you. Leapfrog Labs will
        have no liability for any change to the Services or any suspension or
        termination or your use or access to the Services.
      </p>
    </li>
    <li>
      <p><strong>Term and Termination.</strong></p>
      <ol type="a">
        <li>
          <p>
            <strong>Term.</strong> These Terms of Service shall remain in effect
            for the term set forth in your initial order for our Services or
            until earlier terminated as set forth in this Section 15.
          </p>
        </li>
        <li>
          <p>
            <strong>Renewal.</strong> Unless your specific order for our
            Services specifies otherwise, the term of your subscription to our
            Services will automatically renew for successive periods equal to
            the set term designated in your initial order of our Services,
            unless you provide us with at least 30 days’ written notice of
            non-renewal prior to the end of the then-current term.
          </p>
        </li>
        <li>
          <p>
            <strong>Termination for Cause.</strong> Leapfrog Labs may
            immediately terminate these Terms of Service upon written notice to
            you if you materially breach any of your obligations under these
            Terms of Service. For greater certainty, a “material breach”
            includes your failure to pay any charge or invoice for our Services
            by the date it is due, falsifying any information you provide to us,
            not being in good standing with a relevant regulatory body, and
            having a court proceeding initiated against you or any individuals
            that make up your clinic, company, entity, hospital or organization.
          </p>
        </li>
        <li>
          <p>
            <strong>Effect of Termination.</strong> Upon expiration or earlier
            termination of these Terms of Service, all applicable rights and
            licenses granted to you shall terminate, and your access to any
            applicable Services will cease. No expiration or termination shall
            affect your obligation to pay all fees that may have become due
            before such expiration or termination.
          </p>
        </li>
        <li>
          <p>
            <strong>Survival.</strong> The provisions set forth in the following
            sections, and any other right or obligation of the parties in these
            Terms of Service that, by its nature, should survive termination or
            expiration of these Terms of Service, will survive any expiration or
            termination of these Terms of Service: Section 7 (Late Payments),
            Section 11 (Indemnification), Section 12 (Limitation of Liability),
            Section 13 (Liability Cap), Section 15(d) (Effect of Termination),
            Section 15(e) (Survival), and Section 16 (Miscellaneous).
          </p>
        </li>
      </ol>
    </li>
    <li>
      <p><strong>Miscellaneous.</strong></p>
      <ol type="a">
        <li>
          <p>
            <strong>Waiver of Class Action Rights.</strong> You agree that any
            dispute arising out of or in connection with these Terms of Service
            or the use, access or purchase of our Services shall not be
            arbitrated or litigated as a class action proceeding or on a
            consolidated basis.
          </p>
        </li>
        <li>
          <p>
            <strong>Assignment.</strong> Leapfrog Labs may assign or subcontract
            all or any portion of its rights or obligations with respect to
            these Terms of Service and assign the right to receive payments
            without your consent. You may not assign these Terms of Service or
            any of its rights or obligations without the prior written consent
            of Leapfrog Labs.
          </p>
        </li>
        <li>
          <p>
            <strong>Successors and Assigns.</strong> These Terms of Service are
            binding upon and inures to the benefit of the parties hereto and
            their respective permitted successors and assigns.
          </p>
        </li>
        <li>
          <p>
            <strong>Notices.</strong> Notices under these Terms of Service must
            be in writing and by e-mail (but e-mails to Leapfrog Labs must be
            sent to billing@salusconnect.ca), and such notices will be deemed
            received upon the date of actual receipt.
          </p>
        </li>
        <li>
          <p>
            <strong>Waiver.</strong> No waiver by either party of any of the
            provisions hereof will be effective unless explicitly set forth in
            writing and signed by the waiving party. Except as otherwise set
            forth in these Terms of Service, no failure to exercise, or delay in
            exercising, any rights, remedy, power, or privilege arising from
            these Terms of Service will operate or be construed as a waiver
            thereof; nor will any single or partial exercise of any right,
            remedy, power, or privilege hereunder preclude any other or further
            exercise thereof or the exercise of any other right, remedy, power,
            or privilege.
          </p>
        </li>
        <li>
          <p>
            <strong>Force Majeure.</strong> Leapfrog Labs will not be liable for
            failure to fulfil its obligations under these Terms of Service or
            for delays in delivery or performance due to causes beyond its
            reasonable control.
          </p>
        </li>
        <li>
          <p>
            <strong>Governing Law.</strong> These Terms of Service will be
            governed by and construed in accordance with the laws of the
            Province of Ontario and the federal laws of Canada applicable
            therein, without giving effect to any conflict of law provision,
            principle, or rule.
          </p>
        </li>
        <li>
          <p>
            <strong>Choice of Forum.</strong> Any action or proceeding arising
            out of or relating to these Terms of Service will be instituted in
            the courts of Ontario located in the Regional Municipality of Peel,
            and each party irrevocably submits to the exclusive jurisdiction of
            such courts in any such action or proceeding. You waive any and all
            objections to the exercise of jurisdiction over you by such courts
            and to the venue of such courts.
          </p>
        </li>
        <li>
          <p>
            <strong>Choice of Language.</strong> The parties confirm that it is
            their express wish that these Terms of Service, as well as any other
            documents related to these Terms of Service, including notices and
            authorizations, have been and shall be drawn up in the English
            language only. Les parties aux présentes confirment leur volonté
            expresse que cette convention, de même que tous les documents s'y
            rattachant, incluant tous les avis, annexes, et autorisations,
            soient rédigés en langue anglaise seulement.
          </p>
        </li>
        <li>
          <p>
            <strong>Severability.</strong> If any provision in this Agreement is
            found unenforceable, then that provision will be severed from the
            terms of this Agreement and will not affect the validity and
            enforceability of any remaining provisions.
          </p>
        </li>
        <li>
          <p>
            <strong>Entire Agreement.</strong> The provisions in these Terms of
            Service, our Privacy Policy, our Terms of Use, and any other
            materials incorporated by reference herein make up the entire
            agreement between you and Leapfrog Labs, and supersede any prior
            oral or written agreements or understandings that may exist between
            you and us.
          </p>
        </li>
      </ol>
    </li>
  </ol>
</div>
<app-footer></app-footer>
