<app-header></app-header>

<div class="my-20 flex flex-col">
    <div class="flex flex-col space-y-8">
        <div class="flex flex-col justify-center h-60 bg-gradient-to-t from-blue-50 to-white py-5 w-screen">
            <div class="w-1/4 text-left font-bold text-3xl md:text-6xl mx-20">Contact <span class="text-blue-400">us</span></div>
        </div>
        <div class="flex flex-col mx-20 space-y-10">
            <div class="flex flex-col space-y-8">
                <div class="font-bold text-xl md:text-3xl">If you ever need to contact us, please consider the nature of your query and send us an email at one of the addresses below:</div>
                <div class="flex flex-row justify-center items-center space-x-5">
                    <div class="text-left w-2/5 font-bold text-4xl md:text-6xl"> for<br>everyone </div>
                    <div class="flex flex-col w-3/5 px-10 space-y-5">
                        <div class="space-y-1">
                            <div class="font-bold text-xl md:text-3xl">General queries</div>
                            <a class="underline text-base md:text-xl" href="mailto:support@simplydoc.ca">support@simplydoc.ca</a>
                        </div>
                        <div class="space-y-1">
                            <div class="font-bold text-xl md:text-3xl">Technical Support</div>
                            <a class="underline text-base md:text-xl" href="mailto:sdit@simplydoc.ca">sdit@simplydoc.ca</a>
                        </div>
                        <div class="space-y-1">
                            <div class="font-bold text-xl md:text-3xl">Report an issue</div>
                            <a class="underline text-base md:text-xl" href="mailto:sdit@simplydoc.ca">sdit@simplydoc.ca</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="h-1 bg-black"></div>
            <div class="flex flex-row justify-center items-center">
                <div class="w-1/2 space-y-4">
                    <div class="flex flex-col space-y-2 pb-3 border-b-1 border-b-black mr-3 pl-3">
                        <div class="font-bold text-xl md:text-3xl">Provider Onboarding</div>
                        <a class="font-normal text-base md:text-xl underline" href="mailto:onboard@simplydoc.ca">onboard@simplydoc.ca</a>
                    </div>
                    <div class="flex flex-col space-y-2 pb-3 border-b-1 border-b-black mr-3 pl-3">
                        <div class="font-bold text-xl md:text-3xl">Billing related queries</div>
                        <a class="font-normal text-base md:text-xl underline" href="mailto:billing@simplydoc.ca">billing@simplydoc.ca</a>
                    </div>
                </div>
                <div class="w-1/2 pl-3 font-bold text-4xl md:text-6xl">for<br>medical<br>community</div>
            </div>
            <div class="h-1 bg-black"></div>
            <div class="flex flex-row">
                <div class="font-bold text-4xl md:text-6xl">find us <br>on <br> social</div>
                <div class="inline-grid grid-cols-2 flex-1 items-center text-center">
                    <a class="font-bold text-xl md:text-3xl underline" href="https://twitter.com/gosimplydoc" target="_blank">Twitter</a>
                    <a class="font-bold text-xl md:text-3xl underline" href="https://linkedin.com/company/gosimplydoc" target="_blank">LinkedIn</a>
                    <a class="font-bold text-xl md:text-3xl underline" href="https://facebook.com/gosimplydoc" target="_blank">Facebook</a>
                    <!-- <a class="font-bold text-xl md:text-3xl underline" href="https://instagram.com/gosimplydoc" target="_blank">Instagram</a> -->
                </div>
            </div>
            <div class="h-1 bg-black"></div>
        </div>


    </div>
</div>

<app-footer></app-footer>