<div class="main-layout flex flex-col space-y-6 2xl:space-y-8">
  <div
    class="security-header flex px-5 space-x-5 items-center h-40 bg-gradient-to-t from-blue-100"
  >
    <div class="w-1/2 font-bold text-4xl lg:text-5xl text-blue-400 text-center">
      Security
    </div>
    <div class="w-1/2 font-light text-base lg:text-2xl">
      Protecting your data and information is of paramount importance to us.<br /><br />No
      compromises.
    </div>
  </div>
  <div class="security-summary flex flex-row space-x-6 items-center container">
    <div class="w-1/2 text-sm lg:text-lg font-normal leading-5">
      We know that Canadians value their personal information. And when you use
      SimplyDoc, you are trusting us with something important.<br /><br />Therefore,
      we’ve implemented a host of security and privacy features to ensure that
      we are protecting your information at every step.<br /><br />And we
      continue to strengthen the platform’s security with every product release.
    </div>
    <div class="w-1/2">
      <img
        class="scale-75 aspect-auto m-auto"
        src="../../../assets/images/security-lock.png"
        alt="summary"
      />
    </div>
  </div>
  <div
    class="security-facts-header font-bold text-lg lg:text-2xl lg:text-center text-blue-400 leading-5"
  >
    How we protect your data and information
  </div>
  <div
    class="security-facts none flex flex-col space-y-5 container lg:hidden 2xl:hidden"
  >
    <div class="security-facts-item flex flex-col space-y-3 lg:space-y-4">
      <div class="font-bold text-lg lg:text-2xl">
        Thoughtfully collect information that we absolutely need to
      </div>
      <div class="font-normal text-base lg:text-lg whitespace-pre-line">
        SimplyDoc only collects information that we consider essential in
        delivering a smooth and reliable service through the platform. Any
        information that is not considered essential to deliver the core user
        experience either is not collected or is made optional for users to
        decide if they want to provide it.
      </div>
    </div>
    <div class="security-facts-item flex flex-col space-y-3 lg:space-y-4">
      <div class="font-bold text-lg lg:text-2xl">
        Pay significant attention to protect your account information
      </div>
      <div class="font-normal text-base lg:text-lg whitespace-pre-line">
        SimplyDoc uses an industry leading SHA 512 encryption algorithm to store
        user passwords. In addition, we have deployed a One-way hash system to
        store user passwords. Using this we can only encrypt and can&#39;t
        decrypt information - meaning even SimplyDoc cannot decrypt a user&#39;s
        password. The only way to recover a user&#39;s password is through the
        application&#39;s forgot password feature. We have also deployed Role
        Based Access (RBA) enabled at the REST API level. Thereforere, users can
        access zones that are aligned with their access rights.
      </div>
    </div>
    <div class="security-facts-item flex flex-col space-y-3 lg:space-y-4">
      <div class="font-bold text-lg lg:text-2xl">
        Use highly regarded data centres that are hosted in Canada
      </div>
      <div class="font-normal text-base lg:text-lg whitespace-pre-line">
        SimplyDoc is hosted in Canada by Amazon Web Services (AWS). AWS is one
        of the world’s leading and renowned cloud infrastructure providers known
        for their strong track record of adhereing to strict compliance
        requirements including, HIPAA, ISO 27001 and SOC framework. The
        SimplyDoc web application serves from an https protocol which uses SSL
        Certificate in the background to encrypt and decrypt all the
        communication between client and server.
      </div>
    </div>
    <div class="security-facts-item flex flex-col space-y-3 lg:space-y-4">
      <div class="font-bold text-lg lg:text-2xl">
        Never store any payment information on SimplyDoc
      </div>
      <div class="font-normal text-base lg:text-lg whitespace-pre-line">
        Whenever you pay through the SimplyDoc platform, we neither process nor
        store your banking or credit card information. In order to adhere to PCI
        compliance requirements, the payment is processed solely by a leading
        platform, Stripe, that is a certified PCI-DSS Level 1 payment platform.
      </div>
    </div>
  </div>
  <div class="relative">
    <div class="hidden lg:flex lg:flex-row lg:space-x-8 img container">
      <div class="flex flex-col w-1/2 space-y-5">
        <div class="security-facts-item flex flex-col space-y-3 lg:space-y-4">
          <div class="font-bold text-lg lg:text-2xl">
            Thoughtfully collect information that we absolutely need to
          </div>
          <div class="font-normal text-base lg:text-lg whitespace-pre-line">
            SimplyDoc only collects information that we consider essential in
            delivering a smooth and reliable service through the platform. Any
            information that is not considered essential to deliver the core
            user experience either is not collected or is made optional for
            users to decide if they want to provide it.
          </div>
        </div>
        <div class="security-facts-item flex flex-col space-y-3 lg:space-y-4">
          <div class="font-bold text-lg lg:text-2xl">
            Pay significant attention to protect your account information
          </div>
          <div class="font-normal text-base lg:text-lg whitespace-pre-line">
            SimplyDoc uses an industry leading SHA 512 encryption algorithm to
            store user passwords. In addition, we have deployed a One-way hash
            system to store user passwords. Using this we can only encrypt and
            can&#39;t decrypt information - meaning even SimplyDoc cannot
            decrypt a user&#39;s password. The only way to recover a user&#39;s
            password is through the application&#39;s forgot password feature.
            We have also deployed Role Based Access (RBA) enabled at the REST
            API level. Thereforere, users can access zones that are aligned with
            their access rights.
          </div>
        </div>
      </div>
      <div class="flex flex-col w-1/2 space-y-5">
        <div class="security-facts-item flex flex-col space-y-3 lg:space-y-4">
          <div class="font-bold text-lg lg:text-2xl">
            Use highly regarded data centres that are hosted in Canada
          </div>
          <div class="font-normal text-base lg:text-lg whitespace-pre-line">
            SimplyDoc is hosted in Canada by Amazon Web Services (AWS). AWS is
            one of the world’s leading and renowned cloud infrastructure
            providers known for their strong track record of adhereing to strict
            compliance requirements including, HIPAA, ISO 27001 and SOC
            framework. The SimplyDoc web application serves from an https
            protocol which uses SSL Certificate in the background to encrypt and
            decrypt all the communication between client and server.
          </div>
        </div>
        <div class="security-facts-item flex flex-col space-y-3 lg:space-y-4">
          <div class="font-bold text-lg lg:text-2xl">
            Never store any payment information on SimplyDoc
          </div>
          <div class="font-normal text-base lg:text-lg whitespace-pre-line">
            Whenever you pay through the SimplyDoc platform, we neither process
            nor store your banking or credit card information. In order to
            adhere to PCI compliance requirements, the payment is processed
            solely by a leading platform, Stripe, that is a certified PCI-DSS
            Level 1 payment platform.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="security-facts-item flex flex-col space-y-3 lg:space-y-4">
      <div class="font-bold text-lg lg:text-2xl">
        There are additional layers of security checks and balances in place to
        ensure that you can use SimplyDoc feeling confident that we have
        deployed industry-leading security measures and continue to improve them
        even further over time.
      </div>
      <div class="font-normal text-base lg:text-lg whitespace-pre-line">
        If you discover a security issue, please email us at
        security@simplydoc.ca.
      </div>
    </div>
  </div>

  <div class="2xl:bg-gradient-to-t from-gray-200 pb-10">
    <div class="flex flex-row items-center container">
      <div
        class="security-wrapup whitespace-pre-line text-sm font-normal py-3 lg:w-1/2 lg:text-lg lg: leading-6"
      >
        Our Privacy Policy outlines how we collect and use your data. It also
        describes our operating philosophy around our focus and commitment
        towards protecting your privacy. Please take a moment to review and get
        acquianted with our Privacy Policy. We have attemted to keep the
        language simple for the ease of understanding.
      </div>
      <div class="w-0 lg:w-1/2">
        <img
          class="aspect-auto m-auto"
          src="../../../assets/images/security-key.png"
          alt="summary"
        />
      </div>
    </div>
  </div>
</div>
