<div class="flex flex-col space-y-6">
  <div class="bg-gradient-to-t from-blue-100 to-white">
    <div class="flex justify-center items-center container">
      <div class="w-1/3 text-4xl lg:text-5xl text-center font-bold">
        <h1 class="">About</h1>
        <h1 class="text-blue2">us</h1>
      </div>
      <div
        class="w-2/3 flex flex-col text-xl lg:text-2xl font-light mr-5 space-y-4"
      >
        <span class="text-xl lg:text-2xl lg:tracking-wide"
          >Sometimes we start with the simplest of ideas that emerge from our
          own experiences.</span
        >
        <span class="text-xl lg:text-2xl lg:tracking-wide"
          >And that is exactly how SalusConnect came to life in 2022 - to create
          a simple way for Canadians to find medical appointments when we need
          them.</span
        >
      </div>
    </div>
  </div>

  <div
    class="flex text-sm font-light justify-center items-center leading-4 container"
  >
    <div class="w-2/3 text-xl lg:text-2xl lg:tracking-wide">
      Our healthcare system is admired around the world. Based on the principles
      of equity and community, it is a shining beacon of what is possible when
      possibility meets intent.<br /><br />We are using our own experience as
      everyday people to make it a little better for everyone.
    </div>
    <div class="w-1/3">
      <img
        class="aspect-square m-auto"
        src="../../assets/images/heart-puzzle.png"
        alt="details"
      />
    </div>
  </div>
  <div class="flex justify-center items-center container">
    <div class="w-1/3 text-left text-3xl lg:text-5xl font-bold">
      our starter goals
    </div>
    <div class="w-2/3 flex flex-col space-y-8">
      <div class="flex flex-col space-y-2">
        <div class="text-3xl lg:text-4xl font-bold text-blue2">250,000+</div>
        <div class="text-xl lg:text-2xl font-light">Canadians</div>
        <div class="text-base lg:text-xl font-normal leading-5">
          Enable a quarter million Canadians make doctor appointments by
          simplifying the search and appointment booking experience.
        </div>
      </div>
      <div class="flex flex-col space-y-2">
        <div class="text-3xl lg:text-4xl font-bold text-blue2">10,000+</div>
        <div class="text-xl lg:text-2xl font-light">Providers</div>
        <div class="text-base lg:text-xl font-normal leading-5">
          Onboard 10,000 medical practitioners and give them the tools to enable
          them to deliver a superior patient booking workflow.
        </div>
      </div>
      <div class="flex flex-col space-y-2">
        <div class="text-3xl lg:text-4xl font-bold text-blue2">500+</div>
        <div class="text-xl lg:text-2xl font-light">Towns/Cities</div>
        <div class="text-base lg:text-xl font-normal leading-5">
          Expand SalusConnect’s covergage to over 500 municipalities across
          Canada.
        </div>
      </div>
    </div>
  </div>
  <div class="relative">
    <div class="container bgImg">
      <div class="flex flex-col mx-5 space-y-6">
        <div class="text-4xl font-bold">Our Values</div>
        <div
          class="flex flex-col space-y-6 lg:flex-row lg:space-x-5 lg:space-y-0"
        >
          <div class="border-4 border-blue2 rounded-2xl">
            <div class="m-4 flex flex-col space-y-2">
              <div class="text-2xl font-bold">
                Live with <span class="text-blue2">Integrity</span>
              </div>
              <div clas="text-base leading-6">
                Whether it is in our personal lives or it is at SalusConnect,
                integrity is something we choose to live by every moment and
                every day.
              </div>
            </div>
          </div>
          <div class="border-4 border-blue2 rounded-2xl">
            <div class="m-4 flex flex-col space-y-2">
              <div class="text-2xl font-bold">
                Operate with <span class="text-blue2">Respect</span>
              </div>
              <div clas="text-base leading-6">
                Problemsolving is an art that requires relentless commitment. We
                will put our best foot forward to solve every challenge we face.
              </div>
            </div>
          </div>
          <div class="border-4 border-blue2 rounded-2xl">
            <div class="m-4 flex flex-col space-y-2">
              <div class="text-2xl font-bold">
                Serve with <span class="text-blue2">Passion</span>
              </div>
              <div clas="text-base leading-6">
                Whether it is Candians, the medical community, or our partners,
                at every step you will see that we are genuinely passionate.
              </div>
            </div>
          </div>
          <div class="border-4 border-blue2 rounded-2xl">
            <div class="m-4 flex flex-col space-y-2">
              <div class="text-2xl font-bold">
                Succeed with <span class="text-blue2">Hardwork</span>
              </div>
              <div clas="text-base leading-6">
                There is no shortcut to success. We’re thankful for the
                opportunity to serve Canadians and we’ll work hard to make it
                count.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col space-y-3 items-center">
    <div class="text-2xl font-bold text-center">
      Do you share and live by our core values?
    </div>
    <div>Check out our Careers page.</div>
    <button class="p-3 bg-blue2 rounded-md text-white" routerLink="/careers">
      Careers
    </button>
  </div>
  <div class="flex flex-col space-y-6 items-center py-5 lg:mx-8">
    <div class="text-2xl font-bold text-center">
      Can your medical practice benefit from joining SalusConnect?
    </div>
    <div class="text-center leading-6">
      It’s highly probable. Decide for yourself by learning more or apply to
      join.
    </div>
    <button
      class="px-5 py-3 bg-gray-800 text-white rounded-md"
      routerLink="/learn-more"
    >
      Learn More
    </button>
    <!-- <button
      class="px-5 py-3 bg-gray-800 text-white rounded-md"
      routerLink="/request-to-join"
    >
      Request to join
    </button> -->
  </div>
</div>
